.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.sign-switcher {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

.sign-switcher:hover{
    color: red;
    font-weight: bold;
    text-decoration: none;
}