<div class="container py-5 ">
    <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right " style="
              background: hsla(0, 100%, 50%, 0.55);
              backdrop-filter: blur(30px);
              border: 2px solid red;
              ">
                <div class="card-body p-5 shadow-5 text-center ">

                    <!-- Components -->
                    <app-login></app-login>
                    <app-register></app-register>
                    <!-- Components -->

                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1600408942710-9e0ccfe941c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1794&q=80"
                class="w-100 rounded-4 shadow-4" alt="Lives in your hand" />
        </div>
    </div>
</div>
