<app-navbar></app-navbar>
<section class="pt-8 md:pt-16 selection:bg-red-300 selection:text-white">

  <div class="max-w-md px-4 mx-auto sm:px-7 md:max-w-4xl md:px-6">
    <div class="md:grid md:grid-cols-2">

      <div class="relative overflow-x-auto md:pr-14">
        <h2 class="mb-10 text-center font-semibold text-gray-900">Donor information</h2>
        <table class="w-full mb-4 md:mb-0 text-sm text-left text-gray-500 dark:text-gray-400">
          <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 pb-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Full Name
              </th>
              <td class="px-3 text-right">
                Ernest Hemingway
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Security Number
              </th>
              <td class="px-3 py-3 text-right">
                123456789
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Country
              </th>
              <td class="px-3 py-3 text-right">
                Moldova
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                City
              </th>
              <td class="px-3 py-3 text-right">
                Chisinau
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Sex
              </th>
              <td class="px-3 py-3 text-right">
                Male
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Birth Day
              </th>
              <td class="px-3 py-3 text-right">
                01/01/2000
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Blood Type
              </th>
              <td class="px-3 py-3 text-right">
                B+
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Phone Number
              </th>
              <td class="px-3 py-3 text-right">
                123-45-678
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-3 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Email Address
              </th>
              <td class="px-3 py-3 text-right">
                ernest.hemingway@gmail.com
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="space-y-3">
        <app-calendar></app-calendar>
        <div class="md:pl-14">
          <button type="submit"
            class="w-full text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-800">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
