<footer class="mx-auto px-3 selection:bg-red-300 selection:text-white sm:px-6 lg:px-8 bg-[#a09797] dark:bg-gray-800">
    <div class="w-full mx-auto max-w-7xl p-5 space-y-2 md:flex md:items-center md:justify-between dark:text-gray-400">
        <ul
            class="flex flex-wrap justify-center space-x-4 md:space-x-6 items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a routerLink="/AboutUs"
                    class="px-3 py-2 rounded-md hover:bg-gray-100 focus:bg-gray-200 dark:hover:bg-gray-900 dark:hover:text-white dark:focus:bg-gray-950">About</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 rounded-md hover:bg-gray-100 focus:bg-gray-200 dark:hover:bg-gray-900 dark:hover:text-white dark:focus:bg-gray-950">Privacy
                    Policy</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 rounded-md hover:bg-gray-100 focus:bg-gray-200 dark:hover:bg-gray-900 dark:hover:text-white dark:focus:bg-gray-950">Licensing</a>
            </li>
            <li>
                <a routerLink="Contact"
                    class="px-3 py-2 rounded-md hover:bg-gray-100 focus:bg-gray-200 dark:hover:bg-gray-900 dark:hover:text-white dark:focus:bg-gray-950">Contact</a>
            </li>
        </ul>
        
        <span class="block text-center text-sm text-gray-500 md:font-medium dark:text-gray-400">Creat cu drag și
            dedicare <i class="mdi mdi-heart text-danger"></i>
        </span>
    </div>
    <span class="p-5 block text-center text-sm text-gray-500 md:font-medium dark:text-gray-400">© 2023 <a
        routerLink="/Home" class="hover:text-red-500 dark:text-red-600">LifeLine™</a>. All Rights
    Reserved.</span>
</footer>