<div class="banner-wrapper">
    <div class="container">
        <div class="row py-sm-5 py-0">
            <div class="col-lg-7 banner-content">
                <h1 class="me-2 text-white"> All you need for creating dashboard UI and complex web interfaces. </h1>
                <h3 class="font-weight-light text-white pt-2 pb-5"> Star Admin Template </h3>
                <div class="my-5">
                    <a class="btn btn-primary btn-lg me-2 mb-3" routerLink="/form/donate-form">Donate</a>
                    <a class="btn btn-danger btn-lg ms-2 mb-3" routerLink="/form/request-form">Request</a>
                </div>
            </div>
        </div>
    </div>
</div>