<div class="selection:bg-red-300 selection:text-white md:pl-14">
  <div class="flex items-center">
    <h2 class="flex-auto font-semibold text-gray-900">{{currentMonth | date: 'MMMM yyyy'}}</h2>
    <button type="button" (click)="previousMonth()"
      className="-my-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
      <span class="sr-only">Previous month</span>
      <i class="w-5 h-5 fa-solid fa-chevron-left" aria-hidden="true"></i>
    </button>

    <button type="button" (click)="nextMonth()"
      className="-my-1.5 -mr-1.5 ml-2 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
      <span class="sr-only">Next month</span>
      <i class="w-5 h-5 fa-solid fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>

  <div class="grid grid-cols-7 mt-10 text-xs leading-6 text-center text-gray-500 select-none">
    <div>S</div>
    <div>M</div>
    <div>T</div>
    <div>W</div>
    <div>T</div>
    <div>F</div>
    <div>S</div>
  </div>

  <div class="grid grid-cols-7 mt-2 text-sm">
    <ng-container *ngFor="let day of days; let dayIdx = index">
      <div [ngClass]="getClass(day)">
        <button type="button" (click)="setSelectedDay(day)" [ngClass]="{
                  'text-white': dayIsSelected(day),
                  'text-red-500': dayIsToday(day),
                  'text-gray-900': !dayIsSelected(day) && dayIsSameMonth(day),
                  'text-gray-400': !dayIsSelected(day) && !dayIsToday(day) && !dayIsSameMonth(day),
                  'bg-red-500': dayIsSelected(day) && dayIsToday(day),
                  'bg-gray-900': dayIsSelected(day) && !dayIsToday(day),
                  'hover:bg-gray-200': !dayIsSelected(day),
                  'font-semibold': dayIsSelected(day) || dayIsToday(day),
                  'mx-auto flex h-8 w-8 items-center justify-center rounded-full': true
                }">
          <time [dateTime]="day | date: 'yyyy-MM-dd'">
            {{ day | date: 'd' }}
          </time>
        </button>
      </div>
    </ng-container>
  </div>

</div>

<h1 class="text-center text-2xl selection:bg-red-300 selection:text-white md:pl-14">You have selected {{selectedDay | date}}</h1>
