<div class="relative bg-cover bg-center bg-orange-500 h-screen flex items-center justify-center" 
style="background-image: url('https://t4.ftcdn.net/jpg/02/69/32/19/360_F_269321996_j9F15c8Fp4W9SUgRje1QTo9MbkTice3B.jpg');">
    <div class="absolute inset-0 bg-orange-900 opacity-70"></div>
    <div class="container mx-auto px-4 relative z-10">
        <div class="text-center">
            <div class=" bg-opacity-70 p-6 rounded-lg">
                <h1 class="text-5xl font-extrabold text-white mb-4">Donate Blood, Save Lives</h1>
                <p class="text-xl text-white mb-6">Your contribution can make a difference.</p>
                <div class="flex justify-center">
                    <a class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded-full text-xl mr-4" routerLink="/Feature/donate-form">Donate TODAY</a>
                    <a class="bg-orange-800 hover:bg-orange-900 text-white font-bold py-3 px-6 rounded-full text-xl" routerLink="/Feature/request-form">Request Blood</a>
                </div>
            </div>
        </div>
    </div>
</div>







